@import "tailwindcss";
@plugin "../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.js";
@import "@fontsource/urbanist/400.css";
@import "@fontsource/urbanist/700.css";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}
